# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# Build outputs
.next/
**/.next/
dist/
**/dist/
build/
**/build/
out/
coverage/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Database & SQLite
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# Temporary / Scratch scripts
generate.js

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.turbo

# OS metadata
.DS_Store
Thumbs.db
*.pem
